<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.flchappinessmall.mapper.ReceiverAddressMapper" >
  <resultMap id="BaseResultMap" type="com.hrtxn.flchappinessmall.pojo.ReceiverAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR" />
    <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="receiver_detailed_address" property="receiverDetailedAddress" jdbcType="VARCHAR" />
    <result column="receiver_postcode" property="receiverPostcode" jdbcType="VARCHAR" />
    <result column="default_address_flag" property="defaultAddressFlag" jdbcType="INTEGER" />
    <result column="receiver_user_id" property="receiverUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, receiver_name, receiver_tel, receiver_province, receiver_city, receiver_district, 
    receiver_detailed_address, receiver_postcode, default_address_flag, receiver_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_receiver_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_receiver_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrtxn.flchappinessmall.pojo.ReceiverAddress" >
    insert into tb_receiver_address (id, receiver_name, receiver_tel, 
      receiver_province, receiver_city, receiver_district, 
      receiver_detailed_address, receiver_postcode, 
      default_address_flag, receiver_user_id)
    values (#{id,jdbcType=INTEGER}, #{receiverName,jdbcType=VARCHAR}, #{receiverTel,jdbcType=VARCHAR}, 
      #{receiverProvince,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, 
      #{receiverDetailedAddress,jdbcType=VARCHAR}, #{receiverPostcode,jdbcType=VARCHAR}, 
      #{defaultAddressFlag,jdbcType=INTEGER}, #{receiverUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hrtxn.flchappinessmall.pojo.ReceiverAddress" >
    insert into tb_receiver_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverTel != null" >
        receiver_tel,
      </if>
      <if test="receiverProvince != null" >
        receiver_province,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverDistrict != null" >
        receiver_district,
      </if>
      <if test="receiverDetailedAddress != null" >
        receiver_detailed_address,
      </if>
      <if test="receiverPostcode != null" >
        receiver_postcode,
      </if>
      <if test="defaultAddressFlag != null" >
        default_address_flag,
      </if>
      <if test="receiverUserId != null" >
        receiver_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverDetailedAddress != null" >
        #{receiverDetailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverPostcode != null" >
        #{receiverPostcode,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddressFlag != null" >
        #{defaultAddressFlag,jdbcType=INTEGER},
      </if>
      <if test="receiverUserId != null" >
        #{receiverUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrtxn.flchappinessmall.pojo.ReceiverAddress" >
    update tb_receiver_address
    <set >
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverDetailedAddress != null" >
        receiver_detailed_address = #{receiverDetailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverPostcode != null" >
        receiver_postcode = #{receiverPostcode,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddressFlag != null" >
        default_address_flag = #{defaultAddressFlag,jdbcType=INTEGER},
      </if>
      <if test="receiverUserId != null" >
        receiver_user_id = #{receiverUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrtxn.flchappinessmall.pojo.ReceiverAddress" >
    update tb_receiver_address
    set receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_detailed_address = #{receiverDetailedAddress,jdbcType=VARCHAR},
      receiver_postcode = #{receiverPostcode,jdbcType=VARCHAR},
      default_address_flag = #{defaultAddressFlag,jdbcType=INTEGER},
      receiver_user_id = #{receiverUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>